body {
    background-color: black;
    color: white;
    text-align: center;

}

h1 {

    color: beige;
}
.sweeper{
    /* background: none; */
    width: 40px;
    height: 40px;
    background-color: gray;

}

table{
    margin: auto;

}
.clock{
    margin-left: 30%;
}
/* .score{
    margin-right: y;
    
} */

/* table{
    transition: all .5s;
    text-align: center
    
} */


.board{
    /* align-self: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    /* box-shadow: 5px 4px 30px ; */
}


/* 
.mine-sweeper {
    margin-left: auto;
    margin-right: auto;
} */

td{

    
    
    background-color: gray;
    
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
} 
tr {
    border-radius: 10px 10px 0 0;
}



.clicked {
    background-color: rgb(62, 62, 62);
    color: black;
    
}

.board td:hover {
    background-color: rgba(139, 151, 246, 0.532);
}


